
<% if @post.errors.any? %>
<div class='alert alert-danger'>
<h5><%= t('common.errors')%></h5>
<ul>
<% @post.errors.full_messages.each do |message|%>
<li><%= message %></li>
<% end %>
</ul>
</div>
<% end%>
<%= form_for @post, html: {multipart: true } do|f| %>
<div class="form-group">
<%= f.label :title %>
<%= f.text_field :title, class: 'form-control' %>
</div>

<div class="form-group">
<%= f.label :summary %>
<%= f.text_area :summary, class: 'form-control' %>
</div>

<div class="form-group">
<%= f.label :body %>
<%= f.text_area :body, class: 'form-control' %>
</div>

<div class="form-group mt-4">
<%= f.label :body %>
<%= f.file_field  :image %>
</div>

<div class="form-group">
<%= f.submit t(".submit", action: @post.new_record? ? "Створити" : "Змінити") , class: 'btn btn-warning'%>
<%= link_to t('common.back'), :back, class: 'btn btn-secondary'%>
</div>
<%end%>