<article class="post">  
<section class="post-head"> 
<h2 class = "text-decoration-none bg-light"><%= link_to post.title, post_path(post) %></h2>
<small>
<time><%= post.created_at.to_date.strftime("%d %B, %Y")%></time>
<%= link_to t('common.change'), edit_post_path(post)%>


</small>
</section> 
<section class="post-summary clearfix"> 
<%= image_tag post.image.url(:thumb), class: 'img-thumbnail thumb' if post.image?%>
<%= post.summary%>
</section> 
<p>By Antonovych Vadym</p>



</article>

