<article class="post">  
<section class="post-head"> 
<h1><%=  @post.title%></h1>
<small>
<time><%= @post.created_at.to_date.strftime("%d %B, %Y")%></time>
<%= link_to t('common.change'), edit_post_path(@post)%>


</small>
</section> 
<section class="post-body"> 
<%= image_tag @post.image.url(:large), class: "img-show" if @post.image? %>
<%= @post.body%>
</section> 
</article>

