<!DOCTYPE html>
<html>
  <head>
    <title>BLOG</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="container">
<nav class="navbar navbar-light bg-warning">
    <ul class="nav navbar-nav ">
      <li class="nav-item stats">
        <a class="nav-link col-md-12 btn btn-secondary text-light" href="<%= posts_path %>">Статті</a>
      </li>
       <li class="nav-item">
        <%= link_to 'Нова стаття', new_post_path, class: 'btn btn-secondary'%>
</li>
      
    </ul>
</nav>
</div>

<div class = 'container main'>
<div class = 'row'>
<div class = 'col-md-12'>
<%flash.each do|name, message|%>
<div class = 'alert alert-<%= name%>'>
<%= message %>
</div>
<%end%>
</div>
</div>

<div class="row">
<div class="col-md-8">
    <%= yield %>
</div>


</div>
    </div>
  </body>
</html>
